.ap-container {
  height: 100vh;
  padding: 0 5%;

  .ap-body {
    padding: 20px 10px;
    margin: 2vh 0;
    height: 74vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    form {
      width: 100%;
      max-width: 600px;
      padding: 20px 0;
      background: #fff;
      border-radius: 8px;

      @media (max-width: 900px) {
        width: 100%;
      }

      .alert {
        min-width: 400px;
        width: fit-content;
        height: 40px;
        padding: 7px 20px;
        margin: auto;
        @media (max-width: 640px) {
          min-width: 320px;
          max-width: 98%;
          min-height: 40px;
          height: fit-content;
        }
      }

      .input-wrapper {
        width: 100%;
        margin: 15px 0;
        display: flex;
        flex-direction: row;
        align-items: center;

        label {
          width: 150px;
          margin-bottom: 0;
          font-weight: bold;
        }

        input,
        select {
          width: calc(100% - 150px);
          padding: 10px;
          background: #f1f1f1;
          border: 1px solid #ccc;
          border-radius: 4px;
          outline: none;
        }
      }

      .helper-text {
        width: 100%;
        margin-top: 5px;
        color: #258;
      }
    }
  }
}

@media (max-width: 900px) {
  form {
    width: 100%;
  }
  .logo {
    display: none;
  }
}