.p-container {
  height: 100vh;
  padding: 0 5%;

  .p-body {
    padding: 20px 10px;
    margin: 2vh 0;
    height: 74vh;
    display: flex;
    flex-wrap: wrap;
    gap: 7vh 6.66%;
    overflow-y: auto;

    .product-wrapper {
      position: relative;
      height: 30vh;
      min-width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid #333;
      transition: 0.2s ease-in;
      user-select: text;

      @media (max-width: 640px) {
        min-width: 100%;
      }

      &:hover,
      &.selected {
        background: #0001;
      }

      p {
        margin: 0;
      }

      input[type="checkbox"] {
        position: absolute;
        top: 10%;
        left: 10%;
        transform: scale(1.5);
        cursor: pointer;

      }
    }

    .p-message {
      width: 100%;
      align-self: center;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

.header  {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #3338;
  border-top: none;

  @media (max-width: 640px) {
    flex-direction: column;
    justify-content: center;
  }

  .buttons-wrapper {
    @media (max-width: 640px) {
      display: flex;
      justify-content: space-between;
    }

    .btn {
      margin-left: 20px;
      padding: 0 40px;
      height: 40px;

      @media (max-width: 640px) {
        margin-left: 5px;
      }
    }
  }
}